<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895811068766-oqr53jbo5iq1lpf1lul2t3ttbelb44ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895811068766-oqr53jbo5iq1lpf1lul2t3ttbelb44ab</string>
	<key>API_KEY</key>
	<string>AIzaSyCXT9ufJxIbNUHw8sio63gn4AlPhEKdP3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>895811068766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.writeoutWebAndroidIos</string>
	<key>PROJECT_ID</key>
	<string>write-out-f2782</string>
	<key>STORAGE_BUCKET</key>
	<string>write-out-f2782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895811068766:ios:ec964f8a96d68c408165cf</string>
	<key>DATABASE_URL</key>
	<string>https://write-out-f2782-default-rtdb.firebaseio.com</string>
</dict>
</plist>